//*APPLICATION
HOST= "Host" || localhost
PORT= "Puerto" || 3000

//*DATABASE
DB_NAME= "Nombre de Base de Datos"
DB_HOST= "Host"
DB_PORT= "Puerto" || 5432
DB_USERNAME= "Usuario"
DB_PASSWORD= "Contraseña"

//*CLOUDINARY
CLOUDINARY_CLOUD_NAME="Nombre de la Nube"
CLOUDINARY_API_SECRET="Clave secreta"
CLOUDINARY_API_KEY="Llave de ingreso"

//*JWT
JWT_SECRET="Clave secreta"

//*DOCKER
POSTGRES_PASSWORD= "Contraseña"
POSTGRES_DB= "Nombre de Base de Datos"